.black {
    background-color: #777777;
}

.red {
    background-color: #ff0000;
}

.white {
    background-color: #AAAAAA;
}

.tile {
    width: 100px;
    height: 100px;
    border: dashed thin black;
    float: left;
}
.row {
    display:inline-block;
}
#board {
    max-width: 850px;
}